<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:sec="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd"
       xmlns:tx="http://www.springframework.org/schema/tx">
    <context:component-scan base-package="com.idoorSys"/>
    <sec:http auto-config="true">
        <sec:session-management invalid-session-url="/loginTimeOut">
            <sec:concurrency-control max-sessions="1" expired-url="/loginTimeOut"/>
        </sec:session-management>
        <sec:logout delete-cookies="JSESSIONID" />
    </sec:http>
    <sec:authentication-manager/>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:db.properties"/>
    </bean>
    <bean id="local" class="com.mchange.v2.c3p0.ComboPooledDataSource"
          destroy-method="close">
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="jdbcUrl" value="${db1.url}">
        </property>
        <property name="user" value="${db1.user}"/>
        <property name="password" value="${db1.password}"/>
        <property name="maxPoolSize" value="40"/>
        <property name="minPoolSize" value="1"/>
        <property name="initialPoolSize" value="1"/>
        <property name="maxIdleTime" value="20"/>
    </bean>

    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="local"/>
        <!-- 自动扫描注解方式配置的hibernate类文件 -->
        <property name="packagesToScan">
            <list>
                <value>com.idoorSys.model</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">
                    org.hibernate.dialect.MySQL5InnoDBDialect
                </prop>
                <!--hibernate.hbm2ddl.auto设为create为每次启动清空数据 供测试用,update不清空 -->
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
            </props>
        </property>
    </bean>

    <bean id="transactionManager"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager"/>
    <!-- 需要引入tx的命名空间 -->

    <bean id="simpleJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="syncService"/>
        <property name="targetMethod" value="syncNow"/>
    </bean>
    <bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="simpleJobDetail"/>
        <property name="cronExpression" value="0 */1 * * * ?"/>
    </bean>
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean" autowire="no">
        <property name="triggers">
            <list>
                <ref bean="cronTrigger"/>
            </list>
        </property>
    </bean>
    <!--<bean name="job1" class="org.springframework.scheduling.quartz.JobDetailBean">-->
    <!--<property name="jobClass" value="com.idoorSys.service.TimerJobService" />-->
    <!--<property name="jobDataAsMap">-->
    <!--<map>-->
    <!--<entry key="timeout" value="0" />-->
    <!--</map>-->
    <!--</property>-->
    <!--</bean>-->
    <!--<bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">-->
    <!--<property name="jobDetail" ref="job1" />-->
    <!--<property name="cronExpression" value="0/10 * * * * ?" />-->
    <!--</bean>-->
    <!--<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean" autowire="no">-->
    <!--<property name="triggers">-->
    <!--<list>-->
    <!--<ref bean="cronTrigger" />-->
    <!--</list>-->
    <!--</property>-->
    <!--</bean>-->

</beans>